<h1>Editing user temp admin</h1>

<%= render "form", user_temp_admin: @user_temp_admin %>

<br>

<div>
  <%= link_to "Show this user temp admin", @user_temp_admin %> |
  <%= link_to "Back to user temp admins", user_temp_admins_path %>
</div>
