<p style="color: green"><%= notice %></p>

<h1>User temp admins</h1>

<div id="user_temp_admins">
  <% @user_temp_admins.each do |user_temp_admin| %>
    <%= render user_temp_admin %>
    <p>
      <%= link_to "Show this user temp admin", user_temp_admin %>
    </p>
  <% end %>
</div>

<%= link_to "New user temp admin", new_user_temp_admin_path %>
