
<nav class="level">
    <div class="level-left">
         <%= image_submit_tag('alqui.png')%>
    </div>

     <div class="level-right">
         <section class="hero is-warning is-fullheight is-large">
           <div class="hero-body hero-head hero-foot">
              <p class="title">
                  <%= link_to "Registrarse", new_user_registration_path,class:"button is-warning is-outlined is-light button is-large"%>
                  <%= link_to "Iniciar sesion", new_user_session_path, class:"button is-warning is-outlined is-light button is-large"%><br>
              </p>
           </div>
         </section>
     </div>
</nav>