<h1>Editing user temp sup</h1>

<%= render "form", user_temp_sup: @user_temp_sup %>

<br>

<div>
  <%= link_to "Show this user temp sup", @user_temp_sup %> |
  <%= link_to "Back to user temp sups", user_temp_sups_path %>
</div>
