<nav class="navbar navbar-light is-warning">
  <a class="navbar-brand" href="">
    <%= image_submit_tag('ACA.png')%>
    
  </a>
</nav>

<div class="alert alert-danger text-center" role="alert">
    <h2> Hubo un problema con su transacción. Intente nuevamente </h2>
</div>
<br>
<br>
<div class = "text-center">
    <%= image_submit_tag('error.png')%>
</div>
