<nav class="navbar navbar-light is-warning">
  <a class="navbar-brand" href="">
    <%= image_submit_tag('ACA.png')%>
  </a>
</nav>

<div class="alert alert-warning text-center" role="alert">
    <h2> Su operación esta pendiente hasta que se realice el pago correpondiente </h2>
</div>
<br>
<br>
<div class = "text-center">
    <%= image_submit_tag('pending.png')%>
</div>