<nav class="navbar navbar-light is-warning">
  <a class="navbar-brand" href="">
    <%= image_submit_tag('ACA.png')%>
  </a>
</nav>

<br>
<div class="alert alert-success text-center" role="alert">
    <h2> Su transacción fue realizada correctamente. Cierre esta pestaña para continuar </h2>
</div>
<%current_user.saldo+= current_user.horas*500%>
<br>
<br>

<div class = "text-center">
    <%= image_submit_tag('tick.png')%>
</div>